/* Write your CSS here */
.list-item {
  color: #7b8794;
  font-size: 17px;
  margin: 0%;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 50px;
}
.button {
  border: none;
  background-color: transparent;
  border-bottom: 3px solid #dfe2e5;
  width: 120px;
  font-size: 20px;

  color: #7b8794;
}
.active {
  color: #2563eb;
  border-bottom: 4px solid #2563eb;
  padding-bottom: 6px;
}
